* {
    background-color: rgb(255, 255, 255);
}

/* ------ ELLINOR ------ */
.heading {

    background: #ffffff;
    border: 10px solid #63EFE4;
    padding-left: 10px;
    margin: 0px;

  background: #ffffff;
  border: 10px solid #FF1E15;
  padding-left: 10px;
  padding: 20px;
  margin: 5px;
  font-family: AmericanTypewriter-Light;
  
}
.headline {
  display: inline;
  text-align: left;
}
.menu {
  font-size: 30px;
  text-align: center;
  margin: auto;
  display: inline;
  position: relative;

}

.age{
    text-align: center;
    padding-right: 20px;

}

.center {
  font-family: AmericanTypewriter-Light;
  font-size: 30px;
  color: #000000;
  text-align: center;
  display: inline;
  margin: 200px;
}

.shopping-img{
margin-left: 220px;
}
/* ------ ELLINOR SLUT ------ */

/* ------ FRIDA ------ */

.content-1{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.content-left-1 {
    display: flex;
    width: 30.3%;
    margin-left: 20px;
    margin-top: 50px;
}

.content-middle-1 {
    display: flex;
    width: 30.3%;
}

.content-right-1 {
    display: flex;
    width: 30.3%;
}
.content-2{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.content-left-2 {
    display: flex;
    width: 30.3%;
    margin-left: 20px;
    margin-top: 50px;
}

.content-middle-2 {
    display: flex;
    width: 30.3%;
}

.content-right-2 {
    display: flex;
    width: 30.3%;
}

.content-3{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.content-left-3 {
    display: flex;
    width: 30.3%;
    margin-left: 20px;
    margin-top: 50px;
}

.content-middle-3 {
    display: flex;
    width: 30.3%;
}

.content-right-3 {
    display: flex;
    width: 30.3%;
}

.content-4{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.content-left-4 {
    display: flex;
    width: 30.3%;
    margin-left: 20px;
    margin-top: 50px;
}

.content-middle-4 {
    display: flex;
    width: 30.3%;
}

.content-right-4 {
    display: flex;
    width: 30.3%;
}

img{
height: 300px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:green;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

footer {
    text-align: center;
}

/* ------ FRIDA SLUTAR ------ */

/* ------ SOFIE ------ */
/* ------ SOFIE SLUTAR ------ */