* {
  background-color: rgb(255, 255, 255);
}
.content {
  width: 170vh;
  margin: auto;
  background-color: rgb(157, 140, 140);
}
/* ------ ELLINOR ------ */
.heading {
  background: #ffffff;
  border: 10px solid #63efe4;
  padding-left: 10px;
  padding: 20px;
  margin: 5px;
  font-family: AmericanTypewriter-Light;
  
}
.headline {
  display: inline;
  text-align: left;
}
.menu {
  font-size: 30px;
  text-align: center;
  margin: auto;
  display: inline;
  position: relative;
}

.age{
    text-align: center;
    padding-right: 20px;

}

.center {
  font-family: AmericanTypewriter-Light;
  font-size: 30px;
  color: #000000;
  text-align: center;
  display: inline;
  margin: 200px;
}

.shopping-img{
margin-left: 220px;
}
/* ------ ELLINOR SLUT ------ */

/* ------ FRIDA ------ */
/* ------ FRIDA SLUTAR ------ */

/* ------ SOFIE ------ */
/* ------ SOFIE SLUTAR ------ */
